.container{
    margin:0px;
    padding:10px;
    text-align: center;
}

button{
    background-color: rgba(11, 255, 255, 0.253);
    padding: 10px ;
    color: rgba(230, 87, 16, 0.612);
    margin-left:5px;
    margin-right: 5px;
}
button:hover{
    background-color: rgb(65, 248, 248);
    color: rgba(255, 0, 0, 0.996);
}
    